extends layout

block append head
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/ekeelenou-klient.js')

block content
  h1 E-keelenõu
  p Tere tulemast!
  p Tee päring oma valitud allikates
  input#queryString(type='text', placeholder='Mida sa otsid?')
  input#queryButton(type='button', value='Päri')
  
  h3 Vali allikaid
  ul 
    li Eesti Vikipeedia
      input.addSource(type='button', value='vali', data-id='viki')
      input.removeSource(type='button', value='eemalda', data-id='viki')
    li Eesti Wordnet
      input.addSource(type='button', value='vali', data-id='thes')
      input.removeSource(type='button', value='eemalda', data-id='thes')
    li Eesti keele käsiraamat
      input.addSource(type='button', value='vali', data-id='ekkr')
      input.removeSource(type='button', value='eemalda', data-id='ekkr')
    li Eesti keele seletav sõnaraamat
      input.addSource(type='button', value='vali', data-id='ekss')
      input.removeSource(type='button', value='eemalda', data-id='ekss')
    li Eesti õigekeelsussõnaraamat
      input.addSource(type='button', value='vali', data-id='qs')
      input.removeSource(type='button', value='eemalda', data-id='qs')
    li Eesti--vene sõnaraamat
      input.addSource(type='button', value='vali', data-id='evs')
      input.removeSource(type='button', value='eemalda', data-id='evs')
    li Inglise--eesti masintõlkesõnastik
      input.addSource(type='button', value='vali', data-id='ies')
      input.removeSource(type='button', value='eemalda', data-id='ies')
    li Eesti kohanimede andmebaas
      input.addSource(type='button', value='vali', data-id='knabee')
      input.removeSource(type='button', value='eemalda', data-id='knabee')
    li Maailma kohanimede andmebaas
      input.addSource(type='button', value='vali', data-id='knabmm')
      input.removeSource(type='button', value='eemalda', data-id='knabmm')
    li Sünonüümisõnastik
      input.addSource(type='button', value='vali', data-id='syn')
      input.removeSource(type='button', value='eemalda', data-id='syn')
    li Keelenõuvakk
      input.addSource(type='button', value='vali', data-id='vakk')
      input.removeSource(type='button', value='eemalda', data-id='vakk')
    li Ametniku soovussõnastik
      input.addSource(type='button', value='vali', data-id='amss')
      input.removeSource(type='button', value='eemalda', data-id='amss')
  
  h4 Serveris valitud
  div#selectedSources
  h4 Serveris saadaval
  div#availableSources
  
  h3 Päringu tulemusi
  div#results
