extends layout

block append head
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/ekeelenou-klient.js')

block content
  h1 E-keelen천u
  p Tere tulemast!
  p Tee p채ring oma valitud allikates
  input#queryString(type='text', placeholder='Mida sa otsid?')
  input#queryButton(type='button', value='P채ri')
  
  h3 Vali allikaid
  ul 
    li Eesti Vikipeedia
      input.addSource(type='button', value='vali', data-id='WikiEst')
      input.removeSource(type='button', value='eemalda', data-id='WikiEst')
    li test1
      input.addSource(type='button', value='vali', data-id='test1')
      input.removeSource(type='button', value='eemalda', data-id='test1')
    li test2
      input.addSource(type='button', value='vali', data-id='test2')
      input.removeSource(type='button', value='eemalda', data-id='test2')
    li test3
      input.addSource(type='button', value='vali', data-id='test3')
      input.removeSource(type='button', value='eemalda', data-id='test3')
  
  h4 Serveris valitud
  div#selectedSources
  h4 Serveris saadaval
  div#availableSources
  
  h3 P채ringu tulemusi
  div#results
